body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "consolas";
    font-size: 25px;
    background: pink;
}

h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 6em;
    color: transparent;
    text-transform: uppercase; 
}

h2 span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: hidden;
}

h2:hover span:nth-child(1){
    transform: translateY(-50px);
}

h2 span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    transition: 0.5s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: hidden;
}

h2:hover span:nth-child(2){
    transform: translateY(50px);
}

h2 span:nth-child(3){

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scaleY(0);
    width: 91%;
    color: yellow;
    background: crimson;
    font-size: 0.25em;
    font-weight: 500;
    letter-spacing: 0.7em;
    text-align: center;
    padding-left: 20px;
    margin-left: 5px;
    transition: 0.5s; 
}

h2:hover span:nth-child(3){
    transform: translateY(-50%) scaleY(1);
}